@model iapm.Models.Ticket
@{
    Layout = null;
}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <title>奖品详情</title>
    <link href="/css/reset.css" rel="stylesheet" type="text/css" />
    <link href="/css/com.css" rel="stylesheet" type="text/css" />
    <link href="/css/swiper.min.css" rel="stylesheet" type="text/css" />
</head>

<body class="bg3">
    <div class="wrap">
        <header class="head clearfix">
            <h3><a href="/home/Index" style="position:absolute; left:-300px; top:6px;"><img src="~/images/home.png" /></a><img src="/images/logo.png" /><a href="/home/prize"><img src="/images/back.png" /></a></h3>
        </header>
        <div class="prizeDetail">
          
            <div><img src="@Html.DisplayFor(model => model.detailImg)" style="width:100%"></div>
            
            <div style="text-align:left;margin-left:3%"><h4 style="font-size:36px">@Html.DisplayFor(model => model.title)</h4></div>
            <div style="text-align:left;margin-left:3%"><p>@Model.iconcount 枚金币 &nbsp; &nbsp; 尚余：@ViewBag.pleft</p></div>
            <div style="text-align:left;margin-left:3%">@Html.Raw(@Model.detail)</div>
            <br />
            <p><a href="/home/ok/@Model.card_id">   <img src="/images/ico32.png" style="width:50%"></a></p>
        </div>
    </div>
 
</body>
</html>

