@model IEnumerable<iapm.Models.ImgManager>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutPage.cshtml";
}
<!-- 新 Bootstrap 核心 CSS 文件 -->
<link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

<!-- 可选的Bootstrap主题文件（一般不使用） -->
<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap-theme.min.css"></script>

<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<h2>样式管理</h2>


<table class="table">
    <tr>
        <th>
         图片
        </th>
        <th>
            图片名
        </th>
        <th>
           图片尺寸（宽*高）
        </th>
        <th>
            所属页面
        </th>
        <th>
           时间
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
         <img src="@item.imgurl" style="width:200px; height:100px;" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.imgname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.imgsize)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pagename)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cctime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
    
        </td>
    </tr>
}

</table>
